---
import Layout from "@/layouts/Layout.astro";
import { RegisterForm } from "@/components/auth/RegisterForm";

export const prerender = false;

if (Astro.locals.user) {
  return Astro.redirect("/dashboard");
}
---

<Layout title="Register | AImondo">
  <main class="container mx-auto flex-grow p-4">
    <RegisterForm client:load />
    <div class="mt-4 text-center text-sm">
      Already have an account?
      <a href="/auth/login" class="underline"> Sign in </a>
    </div>
  </main>
</Layout>
