---
import Layout from "@/layouts/Layout.astro";
import { UpdatePasswordForm } from "@/components/auth/UpdatePasswordForm";

export const prerender = false;

if (!Astro.locals.user) {
  return Astro.redirect("/auth/login");
}
---

<Layout title="Update Password | AImondo">
  <main class="container mx-auto flex-grow p-4">
    <UpdatePasswordForm client:load />
  </main>
</Layout>
