---
import Layout from "@/layouts/Layout.astro";
import DashboardView from "@/components/DashboardView.tsx";
---

<Layout title="Aimondo - Dashboard">
  <main class="container mx-auto py-8">
    <DashboardView client:load />
  </main>
</Layout>
