---
import Layout from "@/layouts/Layout.astro";
import { LoginForm } from "@/components/auth/LoginForm";
---

<Layout title="Login | AImondo">
  <main class="container mx-auto flex-grow p-4">
    <LoginForm client:load />
    <div class="mt-4 text-center text-sm">
      <a href="/password-reset" class="underline">
        Forgot your password?
      </a>
    </div>
    <div class="mt-4 text-center text-sm">
      Don't have an account?
      <a href="/register" class="underline">
        Sign up
      </a>
    </div>
  </main>
</Layout>