---
import Layout from "@/layouts/Layout.astro";
import { PasswordResetForm } from "@/components/auth/PasswordResetForm";
---

<Layout title="Reset Password | AImondo">
  <main class="container mx-auto flex-grow p-4">
    <PasswordResetForm client:load />
     <div class="mt-4 text-center text-sm">
      Remember your password?
      <a href="/login" class="underline">
        Sign in
      </a>
    </div>
  </main>
</Layout>